{{define "head"}}{{end}}

{{define "content"}}
<div class="container-fluid mb-5">
    <div class="row">
        {{ include "partials/rightMenu" }}
        <main role="main" class="col-md-9 mr-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">ویرایش کاربر</h1>
            </div>
            {{ include "partials/alerts" }}
            <form class="needs-validation" method="post" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="name">نام</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="" value="{{ .result.Name }}" required>
                        <div class="invalid-feedback">
                            نام الزامی است
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="family">نام خانوادگی</label>
                        <input type="text" class="form-control" id="family" name="family" placeholder="" value="{{ .result.Family }}"
                               required>
                        <div class="invalid-feedback">
                            نام خانوادگی الزامی است
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="username">نام کاربری</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="" value="{{ .result.Username }}"
                               required>
                        <div class="invalid-feedback">
                            نام کاربری الزامی است
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password">رمزعبور</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder=""
                               value="">
                        <small class="float-right">در صورتی که نیاز به تغییر رمزعبور ندارید این گزینه را خالی بگذارید</small>
                        <div class="invalid-feedback">
                            رمزعبور الزامی است | باید حداقل 8 رقم باشد
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="role">سطح دسترسی</label>
                        <select class="custom-select d-block w-100" id="role" name="role" required>
                            <option value="">انتخاب کنید</option>
                            {{ $roles := GAuth.GetRoles }}
                            {{ $id := .user_id }}
                            {{range $index , $val := $roles }}
                                <option value="{{$val}}" {{ if GAuth.CheckRole $id $val }}selected{{ end }}>{{$val}}</option>
                            {{ end }}
                        </select>
                        <div class="invalid-feedback">
                            سطح دسترسی را انتخاب کنید
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input type="hidden" name="id" value="{{ $id }}">
                    <div class="col-lg-12">
                        <button class="btn btn-primary btn-lg float-left" type="submit">ویرایش کاربر</button>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
{{end}}