<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>شرکت امن پردازان کویر - {{ .title }}</title>
    <link href="/static/css/style.min.css" rel="stylesheet">
    <link href="/static/css/icons.css" rel="stylesheet">
</head>
<body>
{{template "content" .}}
{{ include "layouts/footer" }}
<script src="/static/js/coreui.bundle.min.js"></script>
<script src="/static/js/form-validation.js"></script>
<script src="/static/js/simplebar.min.js"></script>

</body>
</html>